* {
    border: none;
    font-family: JetBrainsMono Nerd Font, MesloLGS Nerd Font, Roboto, Arial, sans-serif;
    font-weight: bold;
    font-size: 13px;
    border-radius: 7px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}


#workspaces button.active {
    color: #c79f48;
    background-color: rgb(49, 49, 49);
}

window#waybar {
	background: rgba(0, 0, 0, 0);
	color: #fdf6e3;
}

#workspaces button {
    padding: 0 8px;
    margin: 0 2px;
    background-color: rgba(49, 49, 49, 0.5);
	color: #fdf6e3;
}


#workspaces button:hover {
	background-color: #292b2e;
	border: rgba(255, 255, 255, 0.5);

}

#workspaces 
#pulseaudio,
#pulseaudio.microphone,

#network {
    padding: 0 14px;
    margin: 0 2px;   
    background-color: rgba(49, 49, 49, 0.5);
    color: #fbffe5;
}
#pulseaudio {
    border-radius: 7px 0px 0px 7px;
    padding-left: 8px;
    margin-right: 0px;
    background-color: rgba(49, 49, 49, 0.5);
	color: #fbffe5;
}
#pulseaudio.microphone {
    border-radius: 0px 7px 7px 0px;
    margin-left: 0px;
    padding-left: 0px;
    background-color: rgba(49, 49, 49, 0.5);
	color: #fbffe5;
}
#memory {
    padding: 0 14px;
    margin: 0 2px;    
    background-color: rgba(49, 49, 49, 0.5);
	color: #fbffe5;
}
#cpu {
    padding: 0 14px;
    margin: 0 2px;    
    background-color: rgba(49, 49, 49, 0.5);
	color: #fbffe5;
}
#battery {
    padding: 0 14px;
    margin: 0 2px;    
    background-color: rgba(49, 49, 49, 0.5);
	color: #fbffe5;
}
#tray {
    padding: 0 14px;
    margin: 0 2px;   
    background-color: rgba(49, 49, 49, 0.5);
    color: #fbffe5;
}
#clock {
    padding: 0 14px;
    margin: 0 2px;    
    background-color: #292b2e;
    color: #fbffe5;    
}
#tray {
    padding: 0 14px;
    margin: 0 2px;    
    background-color: rgba(49, 49, 49, 0.5);
    color: #fbffe5;
}
#power-profiles-daemon {
    padding: 0 14px;
    margin: 0 2px;    
    background-color: rgba(49, 49, 49, 0.5);
    color: #fbffe5;
}
#custom-power {
    margin-left: 4px;
    margin-right: 8px;
    padding-left: 8px;
    padding-right: 10px;    
    background-color: rgba(49, 49, 49, 0.5);
    color: #fbffe5;
}